<div class="track-container">
  <div class="img-container">
    <lucide-icon [img]="Music2Icon" size="24" />
  </div>

  <div class="track-info">
    <p>{{ track.name }}</p>

    <div class="duration-container">
      <p class="duration">{{ track.duration_ms | duration }}</p>

      <button class="spotify-btn" (click)="openSpotify()">
        <img
          src="/assets/spotify-icon.svg"
          alt="Spotify"
          width="20"
          height="20"
        />

        <span>Ouvir</span>
      </button>
    </div>
  </div>
</div>
