<div class="artist-container">
  <div class="cover">
    <button class="icon-button" (click)="back()">
      <lucide-icon [img]="ArrowLeftIcon" />
    </button>

    <h1>{{ artist()?.name }}</h1>

    <div class="cover-bottom-info">
      <span>{{ artist()?.followers?.total ?? 0 | followers }} seguidores</span>

      <button class="spotify-btn" (click)="openSpotify()">
        <img
          src="/assets/spotify-icon.svg"
          alt="Spotify"
          width="20"
          height="20"
        />

        <span>Ver no Spotify</span>
      </button>
    </div>

    <div class="artist-img-container">
      <img
        *ngIf="artist()?.images?.[0]?.url"
        [src]="artist()?.images?.[0]?.url"
        [alt]="artist()?.name"
      />

      <span *ngIf="!artist()?.images?.[0]?.url">{{
        artist()?.name?.charAt(0)
      }}</span>
    </div>
  </div>

  <div class="content-container">
    <p class="genres">
      {{ genres | titlecase }}
    </p>

    <h4>Top 10 do artista</h4>

    <hr />

    <app-track-item
      *ngFor="let track of topTracks(); let i = index"
      [trackNumber]="i + 1"
      [track]="track"
    />

    <app-artist-albums-section />
  </div>
</div>
