<div class="home-container">
  <app-search-bar style="display: contents" />

  <ng-container *ngIf="!artistsData()">
    <ng-container *ngIf="recentlyArtists() as data">
      <h4>Vistos recentemente</h4>

      <div class="artist-recommendations">
        <ng-container *ngIf="isLoadingRecentlyArtists">
          <app-card-skeleton
            *ngFor="let i of [1, 2, 3, 4, 5]"
            width="207px"
            height="231px"
          />
        </ng-container>

        <ng-container *ngIf="!isLoadingRecentlyArtists">
          <app-artist-card
            *ngFor="let artist of data; trackBy: trackByArtist"
            [artist]="artist"
          />
        </ng-container>
      </div>

      <h4>Você pode gostar</h4>

      <div class="artist-recommendations">
        <ng-container *ngIf="isLoadingRelatedArtists">
          <app-card-skeleton
            *ngFor="let i of [1, 2, 3, 4, 5]"
            width="207px"
            height="231px"
          />
        </ng-container>

        <ng-container *ngIf="!isLoadingRelatedArtists">
          <app-artist-card
            *ngFor="let artist of relatedArtists(); trackBy: trackByArtist"
            [artist]="artist"
          />
        </ng-container>
      </div>
    </ng-container>

    <h4>Artistas populares</h4>

    <div class="artist-recommendations">
      <ng-container *ngIf="isLoadingPopularArtists">
        <app-card-skeleton
          *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
          width="207px"
          height="231px"
        />
      </ng-container>

      <ng-container *ngIf="!isLoadingPopularArtists">
        <app-artist-card
          *ngFor="let artist of popularArtists(); trackBy: trackByArtist"
          [artist]="artist"
        />
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="artistsData() as data">
    <h4>Artistas</h4>

    <div class="artist-cards-section">
      <ng-container *ngIf="isLoadingArtists">
        <app-card-skeleton
          *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
          width="207px"
          height="231px"
        />
      </ng-container>

      <ng-container *ngIf="!isLoadingArtists">
        <app-artist-card
          *ngFor="let artist of data.items; trackBy: trackByArtist"
          [artist]="artist"
        />
      </ng-container>
    </div>

    <app-pagination [total]="data.total" [limit]="data.limit" />
  </ng-container>
</div>
