.artist-card-container {
  border-radius: 8px;
  padding: 16px;
  background-color: var(--surface-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  transition: box-shadow 0.3s ease, transform 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    transform-origin: center bottom;
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.35);
  }

  img {
    border-radius: 8px;
  }

  p {
    margin-top: 8px;
    font-weight: 700;
    text-align: center;
  }
}
